.container{
    padding: 0 75px;
    font-size: 1em;
}
.single-product {
  display: flex;
  flex-wrap: wrap;
  margin-top: -80px;
  margin-bottom: 20px;
}
.single-product > image {
}
.single-product .left-side {
}
.left-side .title {
  color: #2f3640;
  font-size: 0.9em;
  margin-bottom: 30px;
}
.left-side .price {
  margin-bottom: 30px;
}
.left-side .actions {
  display: flex;
}
.left-side .btns {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  color: #747474;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}
.left-side .actions button{
    background: transparent;
    border: none;
    cursor: pointer;
}
.left-side .trash {
  margin-right: 20px;
}
.container .desc{
    text-align: center;
    color: #2f3640;
    margin-bottom: 20px;
    font-size: .9em;
    border-bottom: 1px solid #f0f0f1;
    padding-bottom: 2px;
}
.container .passage{
    color:#2f3640 ;
    text-align: justify;
    line-height: 1.9;
    margin-bottom: 150px;
}

@media (max-width:992px){
    .container{
        padding: 0 20px;
    }
    .single-product{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .single-product > img {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
    .actions{
        justify-content: center;
    }
}
@media (max-width:460px){
    .container .passage{
        font-size: .9em;
    }
}