.carousel-item {
  padding: 10px;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 0 7px -5px #5a5a5a;
}
.carousel-item.shopItem{
  margin-bottom: 10px;
}
.carousel-item .phone-image {
  width: 150px;
  height: 150px;
  margin-bottom: 23px;
}
.carousel-item .link{
  text-decoration: none;
}
.carousel-item .title {
  color: #6c6c6c;
  font-size: 0.8em;
  margin-bottom: 30px;
}
.carousel-item .price {
  margin-bottom: 30px;
}
.carousel-item .actions {
  display: flex;
  justify-content: space-around;
}
.carousel-item .actions .btns {
  border: 1px solid #d1d1d1;
  width: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d1d1d1;
}
.carousel-item.shopItem .actions .btns .count{
  font-size: .9em;
}
.carousel-item .actions  .button{
  display: flex;
  justify-content: center;
  align-items: center;
  background:none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.carousel-item .actions .btns.shopItem{
  width: 45%;
}
.btns .plus-icon {
  width: 11.43px;
}
.btns .sub-icon {
  width: 11.43px;
}
.btns .count {
  color: #9b9b9b;
}
.actions .trash-icon {
}
.actions .heart-icon {
  width: 25px;
  height: 35px;
}
.actions.shopItem .heart-icon{
width: 20px;
}


@media (max-width: 992px) {
    .carousel-item .phone-image {
        width:135px ;
        height:135px ;
    }
    .carousel-item .title{
        margin-bottom: 25px;
    }
}
@media (max-width: 768px) {
    .carousel-item .phone-image {
        width:120px ;
        height:120px ;
    }
}
@media (max-width:600px){
  .carousel-item.shopItem{
   display: flex;
   text-align: start;
   box-shadow: none;
   border-bottom: 1px solid rgb(236, 233, 233);
  }
  .carousel-item.shopItem .phone-image{
    width: 140px;
    height: 140px;
  }
  .carousel-item.shopItem  .title{
    margin-right: 20px;
    
  }
  .carousel-item.shopItem  .price{
    margin-right: 20px;
   
  }
  .carousel-item.shopItem .actions {
    justify-content: space-around;
  }
  .carousel-item.shopItem .actions .btns{
    width: 40%;
    justify-content: space-around;
  }
  
}
@media (max-width: 460px) {
    .carousel-item .phone-image {
        width:100px ;
        height:100px ;
    }
    .carousel-item .title{
        margin-bottom: 20px;
    }
}
@media (max-width: 400px) {
    .carousel-item .phone-image {
        width:110px ;
        height:110px ;
    }
    .carousel-item .actions {
        align-items: center;
      }
    .carousel-item .title{
        margin-bottom: 20px;
    }
    .actions .heart-icon {
        width: 20px;
        height: 30px;
      }
      .carousel-item .actions .btns{
        padding: 2px 7px;
      }
}
